labr_force_levels.xlsx
04-25.xls
Lab1_openintro.html
Labor_Force_Data_List.xls
WV6_Data_ascii_delimited_v_2015_04_18.zip
WV6_Official_Questionnaire_v4_June2012.pdf
WV6_Official_Questionnaire_v5_SilatechMenaModule_English.doc
WVS_Longitudinal_1981-2014_rdata_v_2015_04_18.zip
WVS_Longitudinal_1981-2014_stata_dta_v_2015_04_18.zip
